<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triangle.mapper.LoginMapper">

	<insert id="create">
		insert into member values (#{state}, #{accessToken}, #{id}, #{mail}, #{nickname}, #{profileImage}, #{gender}, #{name}, #{birthday}, #{age})
	</insert>
	
	<select id="user" resultType="Integer">
		select count(*) from member where id = #{id}
	</select>
	
	<update id="changeState">
		update member set state = #{state}, accessToken = #{accessToken} where id = #{id}
	</update>
</mapper>