<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triangle.mapper.WebtoonMapper">

	<select id="list" resultType="WebtoonVO">
		select * from webtoon natural join day natural join platform natural join writer natural join genre limit #{startNo}, #{num}
	</select>
	
	<select id="evaluateList" resultType="RelationshipVO">
		select * from evaluation where rating != -1
	</select>
	
	<select id="dayWebtoonList" resultType="WebtoonVO">
		select * from webtoon natural join day natural join platform natural join writer natural join genre
		<where>
			<if test="day != null">
				day like concat('%', #{day}, '%')
			</if>
			<if test="platform != null">
				and platform like concat('%',#{platform},'%')
			</if>
		</where>
	</select>
	
	<select id="episodeList" resultType="EpisodeVO">
		select * from episode where webtoonId = #{webtoonId}
	</select>
	
	<select id="checkEpisode" resultType="RelationshipVO">
		select * from recentwebtoon where webtoonId = #{webtoonId}
	</select>
</mapper>